<a href="https://colab.research.google.com/github/SAITEJA0548/Basic-Python-Programming/blob/main/basic_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#print name
print("saiteja")

saiteja

In [2]:
#using input fun
s=input("enter your name")
print(s)

enter your namesaiteja
saiteja

In [3]:
#print full name
a=input("enter the first name")
b=input("enter the second name")
c=a+b
print(c)

enter the first namesai
enter the second nameteja
saiteja

In [4]:
#sum of two numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
c

enter the first number7
enter the second number8

15

In [5]:
#swap two numbers without 3rd variable
a=int(input("enter the first number"))
b=int(input("enter the second number"))
a=a+b
b=a-b
a=a-b
print(a,b)

enter the first number5
enter the second number7
7 5

In [6]:
#to print primitive datatypes
a=5
b=1.4
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [7]:
#to print non-primitive datatypes
a=(1,2,3)
b=[1,2,3]
c={1,2,3,4,5}
d={1:"a",2:"b"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [8]:
a=int(input("enter the number"))
print(a**2)

enter the number4
16

In [9]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
print((a+b+c)//3)

enter the first number6
enter the second number4
enter the third number7
5

In [31]:
def tiffen_items():
    print("Welcome to Tiffen Section")
    print("What type of Tiffen would you like?")
    print("1. Dosa")
    print("2. Idly")
    print("3. Puri")
    print("4. Bajji")

    a = int(input("Enter the Tiffen you would like (1-4): "))

    if a == 1:
        price = 25
        item = "Dosa"
    elif a == 2:
        price = 25
        item = "Idly"
    elif a == 3:
        price = 30
        item = "Puri"
    elif a == 4:
        price = 20
        item = "Bajji"
    else:
        print("Invalid choice, please select between 1 and 4.")
        return

    b = int(input("Enter the quantity you would like: "))
    bill = b * price
    print(f"Your bill for {b} {item}(s) is: Rs. {bill}")

# Call the function
tiffen_items()

Welcome to Tiffen Section
What type of Tiffen would you like?
1. Dosa
2. Idly
3. Puri
4. Bajji
Enter the Tiffen you would like (1-4): 1
Enter the quantity you would like: 6
Your bill for 6 Dosa(s) is: Rs. 150

In [13]:
# Program to multiply input by 10

num = int(input("Enter a number: "))
result = num * 10
print("Result after multiplying by 10:", result)

Enter a number: 34
Result after multiplying by 10: 340

In [14]:
# Program to convert minutes to seconds

minutes = int(input("Enter time in minutes: "))
seconds = minutes * 60
print(minutes, "minutes =", seconds, "seconds")

Enter time in minutes: 65
65 minutes = 3900 seconds

In [15]:
# Program to find largest of three numbers

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 3
Enter second number: 8
Enter third number: 4
The largest number is: 8.0

In [18]:
# Program to find sum of first n natural, even, and odd numbers

n = int(input("Enter a positive integer: "))

# Sum of first n natural numbers
sum_natural = n * (n + 1) // 2

# Sum of first n even numbers: 2 + 4 + 6 + ... + 2n = n(n+1)
sum_even = n * (n + 1)

# Sum of first n odd numbers: 1 + 3 + 5 + ... + (2n-1) = n^2
sum_odd = n * n

print("Sum of first", n, "natural numbers:", sum_natural)
print("Sum of first", n, "even numbers:", sum_even)
print("Sum of first", n, "odd numbers:", sum_odd)

Enter a positive integer: 6
Sum of first 6 natural numbers: 21
Sum of first 6 even numbers: 42
Sum of first 6 odd numbers: 36

In [19]:
# Program to check if number is positive, negative or zero

num = float(input("Enter a number: "))

if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number: 5
The number is Positive

In [20]:
# Program to check odd or even

num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter an integer: 8
8 is Even

In [22]:
# Program to check if number is divisible by 5 and 11

num = int(input("Enter an integer: "))

if num % 5 == 0 and num % 11 == 0:
    print(num, "is divisible by both 5 and 11")
else:
    print(num, "is NOT divisible by both 5 and 11")

Enter an integer: 55
55 is divisible by both 5 and 11

In [23]:
# Program to check grade using marks

marks = int(input("Enter your marks (0-100): "))

if marks >= 90:
    grade = "A+"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
elif marks >= 35:
    grade = "E"
else:
    grade = "F (Fail)"

print("Your Grade is:", grade)

Enter your marks (0-100): 99
Your Grade is: A+

In [24]:
# Program to check the day of the week

day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Sunday")
elif day == 2:
    print("Monday")
elif day == 3:
    print("Tuesday")
elif day == 4:
    print("Wednesday")
elif day == 5:
    print("Thursday")
elif day == 6:
    print("Friday")
elif day == 7:
    print("Saturday")
else:
    print("Invalid input! Please enter a number between 1 and 7.")

Enter a number (1-7): 5
Thursday

In [25]:
# simple credential check
username = input("Enter username: ")
password = input("Enter password: ")

# hardcoded credentials
correct_user = "admin"
correct_pass = "password123"

if username == correct_user and password == correct_pass:
    print("Login successful âœ…")
else:
    print("Login failed â€” invalid username or password âŒ")

Enter username: admin
Enter password: password123
Login successful âœ…

In [26]:
# Simple Arithmetic Program

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 3
Enter second number: 4
Addition: 7
Subtraction: -1
Multiplication: 12
Division: 0.75

In [28]:
# Program to check number of days in a month

month = int(input("Enter month number (1-12): "))

if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
    print("31 days")
elif month == 4 or month == 6 or month == 9 or month == 11:
    print("30 days")
elif month == 2:
    print("28 or 29 days (February)")
else:
    print("Invalid month number! Please enter between 1 and 12.")

Enter month number (1-12): 9
30 days

In [29]:
# Program to check body temperature

temp = float(input("Enter your body temperature in Â°C: "))

if temp >= 37.5:
    print("You have Fever ðŸ¤’")
elif 36.0 <= temp < 37.5:
    print("Your temperature is Normal ðŸ™‚")
else:
    print("You feel Cold ðŸ¥¶")

Enter your body temperature in Â°C: 37
Your temperature is Normal ðŸ™‚